<button (click)="backToWorkpspaces()">Back</button>


<div>

  <!-- <mat-form-field>
    <mat-select placeholder="Select a Datasource">
      <mat-option value="datasource1">Datasource 1</mat-option>
    </mat-select>
  </mat-form-field>
</div> -->
  <div>

    <mat-form-field>
      <input matInput placeholder="Datasource Name" [(ngModel)]="workspaceData.dataSourceName">
    </mat-form-field>
  </div>


  <div>
    <mat-form-field>
      <input matInput placeholder="Workspace Name" [(ngModel)]="workspaceData.workspaceName">
    </mat-form-field>
  </div>

  <div>

    <mat-checkbox [(ngModel)]="workspaceData.isPushDb">Connect to Database</mat-checkbox>

  </div>

  <button mat-raised-button color="accent" (click)="createWorkspace()"> Create</button>
  <div>
   

      <span *ngIf="errorMessage">{{errorMessage}}</span>

  </div>