<div class="back-button-wrapper">
  <button mat-icon-button (click)="backToWorkpspaces()">
    <mat-icon svgIcon="back-icon"></mat-icon>
  </button>
  <h2 class="text-center">Create A Workspace</h2>
</div>
<div class="container">
  <div class="form-wrapper">
    <form (submit)="createWorkspace()">
      <div>
        <mat-form-field>
          <input matInput placeholder="Workspace Name" [(ngModel)]="workspaceData.workspaceName" name="workspaceName">
        </mat-form-field>
      </div>
      <button mat-stroked-button type="submit" class="margin-bottom-10">Create</button>
    </form>

    <div class="error-message">
      <span *ngIf="errorMessage">{{errorMessage}}</span>
    </div>
  </div>
</div>