<button mat-icon-button (click)="backToWorkpspaces()">
  <mat-icon svgIcon="back-icon"></mat-icon>
</button>
<div class="container">
  <div class="form-wrapper">
    <h3 class="text-center">Create A Workspace</h3>
    <div>
      <mat-form-field>
        <input matInput placeholder="Workspace Name" [(ngModel)]="workspaceData.workspaceName">
      </mat-form-field>
    </div>
    <div class="margin-bottom-10">
      <mat-checkbox [(ngModel)]="workspaceData.isPushDb">Connect to Database</mat-checkbox>
    </div>
    <button mat-stroked-button (click)="createWorkspace()" class="margin-bottom-10">Create</button>
    <div class="warn">
      <span *ngIf="errorMessage">{{errorMessage}}</span>
    </div>
  </div>
</div>