<h2>Query your database for {{selectedIndicator.name}}</h2>

<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>

      <mat-panel-title>
        {{panelOpenState ? 'Close' : 'Expand'}} instructions
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      The following column names are expected with those aliases:
    </p>
    <ul>
      <li>
        <span class="redText">value</span> : The KPI's value. The column must contain numbers.
      </li>
      <li>
        <span class="redText">date</span>: Non formatted SQL date of the value measured or ISO 8601.
      </li>
      <li>
        <span class="redText">breakdown_Name</span> (optional): Additional attributes to analyse indicators even further
        into deeper levels
        (also known as drill-downs). Modify the column alias to name each breakdown.
      </li>
    </ul>


    <p>
      For example, to see your <b>{{selectedIndicator.name}}</b> by product, the query should look like:
    </p>
    <!-- SQL query example -->

    <div class="query-example" *ngIf="credentials.type !== 'mongodb'">
      <b class="blueText">SELECT</b>
      <br />
      <span style="margin-left: 30px">billing_amount</span>
      <b class="blueText"> AS </b>
      <span class="redText">'value'</span>,

      <span>billing_date</span>
      <b class="blueText"> AS </b>
      <span class="redText">'date'</span>,

      <span>product</span>
      <b class="blueText"> AS </b>
      <span class="redText">'breakdown_Product'</span>
      <br />
      <b class="blueText">FROM</b>
      Invoice_Table
    </div>

    <!-- mongo query example -->
    <div class="query-example" *ngIf="credentials.type === 'mongodb'">
      <div>
        invoicesCollection.aggregate([
        <div class="margin-30">
          {{ '{' }} "$project": {{ '{' }}
          <div class="margin-30">
            "_id": 0,
            <br>
            <span class="redText">"value"</span>: "$billing_amount",
            <br>
            <span class="redText">"date"</span>: "$billing_date",
            <br>
            <span class="redText">"breakdown_product"</span>: "$product"
            <br>
            {{ '}'}}
          </div>
          {{ '}' }}
        </div>
        ])

      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>

<ace-editor class="ace-editor" [(text)]="queryString" mode="sql"></ace-editor>


<button mat-raised-button color="accent" (click)="queryDB()">Run Query</button>

<div *ngIf="errMessage" class="error-message">{{errMessage}}</div>

<div *ngIf="successMessage" class="success-message">{{successMessage}}</div>

<div *ngIf="tableData" class="output-container">
  <table class="output-table">
    <thead>
      <tr>
        <th *ngFor="let header of tableData.columns">{{header}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of tableData.rows">
        <td *ngFor="let value of row; let i = index">
          <span *ngIf="i !== dateColumnIndex"> {{value}}</span>

          <span *ngIf="i === dateColumnIndex"> {{ value | date : 'longDate'}}</span>

        </td>

      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="querySucceded && dbOutput">
  <mat-checkbox [(ngModel)]="saveLocal">
    Save the query locally
  </mat-checkbox>
</div>


<button mat-raised-button color="accent" (click)="updateWorkspace()" *ngIf="dbOutput && querySucceded">Update Workspace</button>