.query-example {
  font-family: monospace;
  border: 1px solid grey;
  // border-radius: 5px;
  padding: 10px 15px;
}

.redText {
  color: #c25;
  font-family: monospace;
}

.blueText {
  color: #2060a0;
}

.ace-editor{
  min-height: 200px; 
  width:100%; 
  overflow: auto;
}
