.query-example {
  font-family: monospace;
  border: 1px solid grey;
  // border-radius: 5px;
  padding: 10px 15px;
}

.redText {
  color: #c25;
  font-family: monospace;
}

.blueText {
  color: #2060a0;
}

.margin-30{
  margin-left:30px;
}

.ace-editor {
  min-height: 100px;
  width: 100%;
  overflow: auto;
}

.error-message{
  color: red;
  font-size: 13px;
}

.success-message {
  color: green;
  font-size: 13px;
}

button {
  margin: 10px 0;
}

.output-container {
  height: 300px;
  overflow-y: auto;
  margin-bottom: 20px;

  .output-table {
    width: 100%;

    th, td {
      padding: 5px;
      text-align: left;
      font-size: 12px;
    }

    th {
      color: #868686;
      font-weight: initial;
    }
  }
}
