<div class="container">
  <div *ngIf="!loading">
    <div *ngIf="workspaces && workspaces.length">
      <div *ngFor="let workspace of workspaces; let i = index">
        <div class="workspace-card" (click)="showWorkspaceDetails(workspace)">
          <span>{{i+1}}.</span>
          {{ workspace.name}}
        </div>

      </div>

    </div>

    <div *ngIf="!workspaces || !workspaces.length">
      <h3> You have not yet created any workspace in SQL agent! Click the button below to create one</h3>

    </div>

    <button mat-raised-button color="primary" (click)="newWorkspace()"> Create new workspace</button>
  </div>

  <div *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>
</div>