$inner-width: 360px;
.container {
  height: 100%;
}

.workspace-container {
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .workspace-card {
    box-sizing: border-box;
    flex: 0 1 $inner-width;
    min-width: $inner-width;
    max-width: $inner-width;
    padding: 8px 20px;
    border: 1px solid #454a54;
    border-radius: 3px;
    cursor: pointer;

    &:hover {
      background: #373e4a;
    }
  }

  button {
    margin-left: 5px;
    flex: 1 1 auto;
    padding: 0;
  }
}

.workspaces-wrapper {
  height: 100%;
  min-width: 360px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .list-flex {
    width: 100%;
    flex: 2 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .list-inner {
      width: 100%;
      padding-bottom: 20px;
    }
  }

  .create-button {
    align-self: flex-start;
    width: 100%;
  }

  h2 {
    align-self: flex-start;
  }

  .full-width {
    width: 100%;
    .inner-width {
      display: inline-block;
      width: $inner-width;
    }
  }
}

.loader-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.margin-left {
  margin-left: 45px;
}
