.container {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.workspace-card {
  padding: 8px 20px;
  border: 1px solid #454a54;
  border-radius: 3px;
  margin-bottom: 15px;
  cursor: pointer;

  &:hover {
    background: #373e4a;
  }
}

.workspaces-wrapper {
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
