.radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.radio-button {
  margin: 5px;
}

mat-form-field {
  width: 300px;
}

mat-button-toggle-group {
  width: 300px;
  margin-bottom: 20px;

  mat-button-toggle {
    width: 50%;
  }
}

button {
  &.left-margin {
    margin-left: 10px;
  }
}

.input-wrapper{
  display: flex;
  justify-content: flex-start;
  align-items: center;

  mat-icon {
    width: 17px;
    height: 17px;
    margin-left: 10px;
    color: #949ca8;
  }
}

.label {
  font-size: 16px;
  margin-bottom: 5px;
}

.advanced-settings {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: flex-start;

  .flex-item {
    flex: 1 1 45%;

    mat-radio-group {
      margin-top: 0;
      margin-bottom: 5px;

      mat-radio-button{
        margin-left: 0;
      }
    }
  }
}
