.container {
  height: 100%;
  display: flex;
  width: 100%;
  flex-direction: column;

  .title {
    margin: 0;
    padding: 50px 20px;
  }

  .topbar {
    padding: 20px;
    flex: 0 0 60px;
    background: #373e4a;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      height: 50px;
    }

    .text-right {
      justify-self: end;
      flex: 0 0 auto;
      margin-right: 20px;
      font-size: 20px;
      color: white;
    }
  }

  .main-content {
    background: #303641;
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: stretch;
  }
}
