<div class="container dark-theme-wrapper">
  <div *ngIf="user" class="topbar">
    <!-- <img src="./assets/img/bilbeoNewSad.png" class="logo"> -->
    <img [src]="user.logoURL" class="logo">
    <div class="text-right">
      <span> {{user.firstName}} {{user.lastName}}</span>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon svgIcon="dropdown-icon"></mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <span>{{user.mail}}</span>
        </button>
        <button mat-menu-item (click)="signout()">
          <mat-icon svgIcon="exit-icon"></mat-icon>
          <span>Signout</span>
        </button>
      </mat-menu>
    </div>
  </div>
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
  <div class="cron-info" *ngIf="cronInProgress || cronCheckInProgress">
    <div class="flex">
      <mat-spinner [diameter]="20"></mat-spinner>
      <span *ngIf="cronInProgress">Auto Pushing</span>
      <span *ngIf="cronCheckInProgress">Checking For Auto Pushing</span>
    </div>
  </div>
  <div class="cron-info" *ngIf="!isOnline">
      <span class="offline-message">
          <mat-icon svgIcon="offline-icon"></mat-icon>
        </span>
  </div>
</div>

<!-- <h1 class="title">
      {{ 'PAGES.HOME.TITLE' | translate }}
    </h1> -->