.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  // background: url(../../../assets/background.jpg) no-repeat center fixed;
  // -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  // background-size: cover; /* version standardisée */

  .title {
    // color: white;
    margin:0;
    padding:50px 20px;
  }

  .topbar{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background: #dedbdb;
    box-shadow: 0px 4px 18px 0px #a5a2a2;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo{
      height: 50px;
    }

    .text-right {
      justify-self: end;
      flex: 0 0 auto;
      margin-right: 20px;
      font-size: 20px;

      .signout {
        cursor: pointer;
        display: inline-block;
        border: 1px solid #a9a5a5;
        border-radius: 10px;
        padding: 5px 10px;
        font-size: 16px;
      }
    }
  }

}
