<div class="container dark-theme-wrapper">
  <div class="header">
    <div>
        <img src="./assets/img/bilbeoNewSad.png">
        <div class="version">{{appVersion}}</div>
    </div>
  </div>
  <div class="main">
    <div>
      <form [formGroup]="loginForm" (submit)="signin()">
        <div>
          <mat-form-field>
            <input matInput placeholder="Email address" type="text" formControlName="email">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input matInput placeholder="Password" type="password" formControlName="password">
          </mat-form-field>
        </div>
        <div>
          <button mat-stroked-button type="submit" class="login-button">Login</button>
        </div>
      </form>
      <div *ngIf="message" class="error-message">
        <small>{{message}}</small>
      </div>
    </div>

  </div>

  <div class="cron-info" *ngIf="!isOnline">
    <span class="offline-message">
      <mat-icon svgIcon="offline-icon"></mat-icon>
    </span>
  </div>
  
</div>