<div class="scroll">
  <!-- <h2>Connect to {{selectedDb.name}} database</h2> -->

  <h3>Connect to
    <mat-form-field class="db-select">
      <mat-select [(value)]="selectedDb" (selectionChange)="onDbSelection($event)" >
        <mat-option *ngFor="let db of allDbs" [value]="db">
          {{db.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    database
  </h3>


  <form [formGroup]="dbForm">
    <div>
      <mat-form-field>
        <input matInput type="text" formControlName="host" placeholder="Host">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <input matInput type="text" formControlName="dbName" placeholder="Database Name">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <input matInput type="number" formControlName="port" placeholder="Port">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <input matInput type="text" formControlName="user" placeholder="User">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <input matInput type="password" formControlName="dbPassword" placeholder="Password">
      </mat-form-field>
    </div>

    <div>

      <mat-checkbox [(ngModel)]="saveLocal" [ngModelOptions]="{standalone: true}">Save the credentials locally</mat-checkbox>
  
    </div>

  </form>

  <button (click)="connectToDatabase()" mat-raised-button color="primary">Connect to Database</button>

  <div>
    <span *ngIf="message">{{message}}</span>
  </div>
</div>






