<div class="scroll">
  <div *ngIf="!localWorkspaceData">
    <h3>Connect to database</h3>

  </div>
  <!-- shown when we already have credentials -->
  <div *ngIf="localWorkspaceData && updateCredentialsMode">
    <h3>DB credentials </h3>

  </div>
  <!-- create/update credentials -->
  <form [formGroup]="dbForm" *ngIf="dbForm" (submit)="connectToDatabase()">
    <mat-form-field class="db-select">
      <mat-select [(value)]="selectedDb" (selectionChange)="onDbSelection($event)">
        <mat-option *ngFor="let db of allDbs" [value]="db">
          {{db.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div>
      <mat-form-field>
        <input matInput type="text" formControlName="host" placeholder="Host">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput type="text" formControlName="dbName" placeholder="Database Name">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput type="number" formControlName="port" placeholder="Port">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput type="text" formControlName="user" placeholder="User">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput type="password" formControlName="dbPassword" placeholder="Password">
      </mat-form-field>
    </div>
    <div class="input-wrapper">
      <mat-form-field class="db-select">
        <mat-label>Automatic Pushing</mat-label>
        <mat-select formControlName="autoPushing">
          <mat-option *ngFor="let option of autoPushOptions" [value]="option.value">
            {{option.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-icon svgIcon="help-icon" [matTooltip]="autoPushHint" matTooltipPosition="right"></mat-icon>
    </div>
    <div *ngIf="localWorkspaceData && updateCredentialsMode" class="button-group">
      <button [disabled]="connectInProgress" mat-stroked-button (click)="closePage()" type="button"> Cancel</button>
      <button [disabled]="connectInProgress" mat-flat-button color="primary" class="spinner-button white-spinner"
        type="submit">
        <mat-spinner *ngIf="connectInProgress" [diameter]="20"></mat-spinner>
        <span>Update</span>
      </button>
    </div>
    <div class="button-group" *ngIf="!localWorkspaceData">
      <button [disabled]="connectInProgress" mat-stroked-button color="primary" class="spinner-button" type="submit">
        <mat-spinner *ngIf="connectInProgress" [diameter]="20"></mat-spinner>
        <span>Connect</span>
      </button>
    </div>
  </form>

  <div *ngIf="message" class="success-message">
    <span>{{message}}</span>
  </div>
  <div *ngIf="errMessage" class="error-message">
    <span>{{errMessage}}</span>
  </div>
</div>