<div *ngIf="!dbConnected">
  <h2>Connect to {{selectedDb.name}} database</h2>


  <form [formGroup]="dbForm">
    <div>
      <label>
        Host
        <input type="text" formControlName="host">
      </label>
    </div>

    <div>
      <label>
        Database Name:
        <input type="text" formControlName="dbName">
      </label>
    </div>
    <div>
      <label>
        Port:
        <input type="number" formControlName="port">
      </label>
    </div>
    <div>
      <label>
        User:
        <input type="text" formControlName="user">
      </label>
    </div>
    <div>
      <label>
        Password:
        <input type="password" formControlName="dbPassword">
      </label>
    </div>


  </form>

  <button (click)="connectToDatabase()" mat-raised-button color="primary">Connect to Database</button>

  <div>
    <span *ngIf="message">{{message}}</span>
  </div>
</div>



<div>
    <!-- <div *ngIf="dbConnected"> -->

  <h2>Query your database</h2>

  <p>
    The following column names are expected with those aliases:
  </p>
  <ul>
    <li>
        <span class="redText">value</span> : The KPI's value. The column must contain numbers.
    </li>
    <li>
        <span class="redText">date</span>: Non formatted SQL date of the value measured or ISO 8601.
    </li>
    <li>
        <span class="redText">breakdown_Name</span> (optional): Additional attributes to analyse indicators even further into deeper levels
        (also known as drill-downs). Modify the column alias to name each breakdown.
    </li>
  </ul>
   
    
  <p>
    For example, to see your "Total sales" by product, the query should look like:
  </p>

  <div class="query-example">
    <b class="blueText">SELECT</b>
    <br />
    <span style="margin-left: 30px">billing_amount</span>
    <b class="blueText"> AS </b>
    <span class="redText">'value'</span>,

    <span>billing_date</span>
    <b class="blueText"> AS </b>
    <span class="redText">'date'</span>,

    <span>product</span>
    <b class="blueText"> AS </b>
    <span  class="redText">'breakdown_Product'</span>
    <br />
    <b class="blueText">FROM</b>
    Invoice_Table
  </div>

  <div class="ace-container" ace-editor 
  [(text)]="queryString"></div>

</div>