/* You can add global styles to this file, and also import other style files */
// @import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  margin: 0;
  padding: 0;

  height: 100%;
  font-family: Roboto;
}

// [Sat] hide the vertical line in the middle of the ace-editor
.ace-monokai .ace_print-margin {
  width: 0 !important;
}

// helper classes
.text-center {
  text-align: center;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.edit-button {
  cursor: pointer;
  mat-icon {
    font-size: 18px;
    height: 18px;
    width: 18px;
    color: rgb(184, 184, 184);
    &:hover {
      color: blue;
    }
  }
}
