/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  margin: 0;
  padding: 0;

  height: 100%;
}

// [Sat] hide the vertical line in the middle of the ace-editor
.ace-monokai .ace_print-margin {
  width: 0 !important;
}