<div class="container">
  <div >
    <button (click)="goBack()" mat-raised-button>Back</button>
    
  </div>

  <div class="flex-container">
    <div class="left-side">
        <div *ngIf="!isEditMode" class="header-flex">
            <h3 *ngIf="workspace">{{workspace.name}}</h3>
            <button mat-icon-button class="edit-button" (click)="toggleWorkspaceEdit(true)">
                <mat-icon svgIcon="edit-icon"></mat-icon>
            </button>
      
          </div>
      
          <div *ngIf="isEditMode">
            <mat-form-field>
              <input matInput type="text" [(ngModel)]="newWorkspaceName">
            </mat-form-field>
            <button mat-button (click)="toggleWorkspaceEdit(false)"> Cancel</button>
            <br>
            <button mat-button color="primary" (click)="editWorkspaceName()"> Update</button>
            <button mat-button color="warn" (click)="removeWorkspace()"> Remove</button>
          </div>

      <div class="indicators" *ngIf="workspace && datasource">

        <ul class="indicator-list">
          <li (click)="newIndicator()" class="add-button">+ Add a KPI</li>
          <li *ngFor="let indicator of datasource.indicators; let i = index"
            [ngClass]="{'selected': selectedIndicator && (indicator._id === selectedIndicator._id)}"
            (click)="selectIndicator(i)">
            {{indicator.name}}
          </li>
        </ul>

      </div>

      <div class="credentials">
        <app-db-connector [workspace]="workspace" [localWorkspaceData]="localWorkspaceData"></app-db-connector>
      </div>
    </div>

    <div class="right-side">
      <div class="add-indicator">
        <div *ngIf="showAddIndicator">
          <app-new-indicator [datasource]="datasource" (datasourceChange)="onDatasourceUpdated($event)">
          </app-new-indicator>
        </div>

        <div *ngIf="showEditIndicator">
          <app-edit-indicator  [workspace]="workspace" [datasource]="datasource" (datasourceChange)="onDatasourceUpdated($event)"
            [indicatorData]="selectedIndicator">
          </app-edit-indicator>
        </div>

        <div *ngIf="selectedIndicator && !showEditIndicator" class="header-flex">
          <b>{{selectedIndicator.name}}</b>

          <button mat-icon-button class="edit-button" (click)="editIndicator()">
              <mat-icon svgIcon="edit-icon"></mat-icon>
          </button>
        </div>
      </div>

      <div class="query-tool" *ngIf="selectedIndicator && !showEditIndicator">
        <app-query-db [selectedIndicator]="selectedIndicator" [localWorkspaceData]="localWorkspaceData"
          [datasource]="datasource" [workspaceId]="workspace.id"></app-query-db>
      </div>
    </div>
  </div>
</div>