<div class="container">
    <div class="header">
        <button (click)="goBack()" mat-raised-button>Back</button>
        <h3 *ngIf="workspace">{{workspace.name}}</h3>
    </div>



    <div class="flex-container">
        <div class="left-side">
            <div class="indicators" *ngIf="workspace && datasource && datasource.indicators.length">

                <div *ngIf="datasource">
                    <ul class="indicator-list">
                        <li *ngFor="let indicator of datasource.indicators; let i = index"
                            [ngClass]="{'selected': selectedIndicator && (indicator._id === selectedIndicator._id)}"
                            (click)="selectIndicator(i)">
                            {{indicator.name}}
                        </li>
                    </ul>

                </div>
            </div>

            <div class="credentials">
                <app-db-connector [workspace]="workspace" [localWorkspaceData]="localWorkspaceData"></app-db-connector>
            </div>
        </div>


        <div class="right-side">
            <div class="add-indicator">
                <div *ngIf="!selectedIndicator">
                    <app-new-indicator [datasource]="datasource" (datasourceChange)="onDatasourceUpdated($event)">
                    </app-new-indicator>
                </div>

                <div *ngIf="selectedIndicator" >
                    <b>{{selectedIndicator.name}}</b>
                   <button mat-button (click)="editIndicator()"><u>Edit</u></button>   
                </div>
            </div>

            <div class="query-tool" *ngIf="selectedIndicator">
                <app-query-db [selectedIndicator]="selectedIndicator" [localWorkspaceData]="localWorkspaceData" [datasource]="datasource" [workspaceId]="workspace.id"></app-query-db>
            </div>

        </div>
    </div>

</div>