
:host{
  width: 100%;
}

.container {
  padding: 10px 15px 25px 15px;
  background: white;
  margin: 40px 20px;
  border-radius: 5px;

  .header-flex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .db-connect-wrapper{
    height: 100%;
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: space-around;
    .db-connector {
      flex: 1 1 400px;
      max-width: 400px;
    }
  }
 
  .flex-container{
    height: 100%;
    width: 100%; 
    display: flex;
    align-items: stretch;
    justify-content: space-between;
  }

  .left-side {
    flex: 0 0 315px;
    display: flex;
    flex-direction: column;
    padding-right: 5px;

    mat-form-field {
      &.edit-input{
        width: calc(100% - 30px);
      }
    }

    .indicators {
      max-height: 300px;
      overflow-y: auto;

      .indicator-list{
        list-style: none;
        padding-left: 0;
        padding-right: 10px;
        display: flex;
        flex-wrap: wrap;

        li {
          flex: 1 1 25%;
          // max-width: 50%;
          cursor: pointer;
          border: 1px solid #bcc2ce;
          border-radius: 4px;

          margin-bottom: 5px;
          margin-right: 20px;
          padding: 5px 10px;
          text-align: center;
          
          &.selected{
            background: #efefef;
          }
          &:hover{
            background: #efefef;
          }

          &.add-button{
            flex: 2 1 100%;
            background: #01579b;
            color: white;
            margin-bottom: 10px;
            
            border: 1px solid #01579b;
            &:hover {
              background: #0076d1;
              border: 1px solid #0076d1;
            }
          }
        }

      }
    }

    .credentials {
      .credential-header {
        display: flex;
        align-items: center;
        justify-content: flex-start;
      
        button {
          margin-right: 5px;
          margin-left: 5px;
      
          &.spinner-button {
            margin-left: 20px;
          }
        }
      }
      
      .label {
        font-weight: bold;
        font-size: 12px;
        padding-right: 5px;
      }
      
      .value {
        font-size: 10px;
        &.capitalize{
          text-transform: capitalize;
        }
      }
      
      tr {
        padding: 0 5px 0 5px;
      }
    }
  }

  .right-side {
    padding-left: 10px;
    flex: 1 1 auto;

    .add-indicator {
      flex: 0 1 300px;
    }

    .query-tool {
      flex: 1 0 auto;
    }
  }
}


